.custom-label {
    font-size: 20px;
    -unity-font-style: bold;
    color: rgb(68, 138, 255);
}

.background {
    background-image: url('project://database/Assets/POL/backgrounds/top.png?fileID=2800000&guid=d25154b6fa444c14684187d159fe4204&type=3#top');
}

.container {
    flex-direction: row;
    align-self: stretch;
    align-items: center;
    justify-content: space-around;
}

.startButton {
    background-color: rgba(0, 0, 0, 0);
    color: rgb(136, 28, 28);
    -unity-font-style: bold-and-italic;
    -unity-text-align: middle-center;
    white-space: normal;
    text-overflow: clip;
    font-size: 21px;
    background-position-x: center 0;
    -unity-background-scale-mode: stretch-to-fill;
    margin-top: 200px;
}

.buttonColorH:hover {
    color: rgb(255, 0, 0);
    transition-duration: 0.2s;
    transition-timing-function: ease;
    transition-delay: 0s;
}
